.movie-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 2rem;
  margin: 0;
}

.movie-item {
  width: 200px;
  margin: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.poster-container {
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.movie-item p {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
